{% extends 'base_generic.html'%}

{% block content %}
<h1>Главная страница</h1>

<p>Долро пожаловать в <em>Инвентори</em>, здесь собраны данные о рабочих станциях. учетных записях
пользователей, а также программном обеспечении</p>

<h2>Динамический контент</h2>

<p>База данных содержит следующее количество записей:</p>
<ul>
    <li>Количество учетных записей: {{ num_accounts }}</li>
    <li>Количество рабочих станций: {{ num_workstations }}</li>
    <li>Количество различного ПО: {{ num_software }}</li>
    <li>Количество установленного ПО: {{ num_installed }}</li>
    <li>Количество сертификатов ЭП: {{ num_certificate }}</li>
</ul>
{% endblock %}